* {
	box-sizing: border-box;
}
#banner {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	position: relative;
}
#banner img {
	width: 100%;

}
.vertical-menu {
	margin: 30px 44px 44px 30px;
	width: 135px;
	display: inline-block;
}
.vertical-menu a {
	border: 2px solid #caeaf1;
	border-radius: 30%;
	background-color: white;
	color: red;
	font-family: sans-serif;
	padding: 12px;
	margin: 3px;
	text-align: center;
	display: block;
	text-decoration: none;
}
.vertical-menu a:hover {
	background-color: #26C6DA;
	color: white;
}
.vertical-menu a.active {
	background-color: #26C6DA;
	color: white;
}
#banner > a:first-child {
	padding: 4px;
	position: absolute;
    top: 101px;
    left: 89px;
}
#banner > a:first-child > img {
	width: 120px;
}

p.title {
	text-align: center;
	color: black;
	font-size: 25px;
	font-family: sans-serif;
			}
.gallery {
	position: absolute;
	left: 25.5%;
	display: inline-block;
}
.gallery img {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 200px;
}
p {
	font-size: 18px;
	text-decoration: none;
	text-align: center;
}
.hang1 {
	float: left;
	width: 200px;
	margin: 10px;
	opacity: 1;
}
.hang-container {
	clear: both;
}
.hang2 {
	float: left;
	width: 200px;
	margin: 10px;
	overflow: hidden;
}

.hang3 {
	float: left;
	width: 200px;
	margin: 10px;
}


.gallery img:hover {
	opacity: 0.8;
	transition: all 1s cubic-bezier(1, -0.44, 1, 1);
	
}
.hang1:hover {
	transform: translate(0,-5px);
	box-shadow: 5px 10px 8px 0px rgba(0,0,0,0.2);	
}
.hang2 img:hover {
	transform: scale(1.2);
}
.wrap {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}
#chat {
	position: fixed;
	right: 69px;
	bottom: 30px;
}
#chat img {
	width: 50px;
}