* {
	box-sizing: border-box;
}
#banner {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	position: relative;
}
#banner img {
	width: 100%;

}
.main-menu {
	margin: 10px 10px 10px 10px;
}
.main-content {
	clear: both;
}
.menubox-container {
	width: 50px;
	position: absolute;
    top: 40px;
    left: 66px;
}
#banner > a:first-child {
	padding: 4px;
	position: absolute;
    top: 101px;
    left: 89px;
}
#banner > a:first-child > img {
	width: 120px;
}
.menubox a {
				display: block;
				font-size: 20px;
				text-decoration: none;
				padding: 0;
				text-align: center;
				margin-top: 10px;

			}
.menubox {
	display: inline-block;
	float: left;
	width: 160px;
	height: 60px;
	border: 1px solid;
	border-top-width: 8px;
	border-radius: 20%;
}
.home {
	border-color: #76a7fa;
}
.home a {
	color: #76a7fa;
}	
.about {
	border-color: #f9b256;
}
.about a {
	color: #f9b256;
}
.gallery1 {
	border-color: #4dbfd9;
}
.gallery1 {
	color: #4dbfd9;
}
.post {
	border-color: #000000;
}
.post a {
	color: black;
}
.menubox a:hover {
	color: green;
	font-size: 25px;
	text-decoration: underline;
}
p.title {
	text-align: center;
	padding: 20px;
	color: purple;
			}
.gallery {
	position: relative;
    left: 282px;
}
.gallery img {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 200px;
}
p {
	font-size: 18px;
	text-decoration: none;
	text-align: center;
}
.hang1 {
	float: left;
	width: 200px;
	margin-left: 10px;
	margin-right: 10px;
}
.hang-container {
	clear: both;
}
.hang2 {
	float: left;
	width: 200px;
	margin-left: 10px;
	margin-right: 10px;
}

.hang3 {
	float: left;
	width: 200px;
	margin-left: 10px;
	margin-right: 10px;
}

body a {
	text-decoration: none;
}
body a p {
	color: purple;
}
.gallery img {
	opacity: 1;
}
.gallery img:hover {
	border-radius: 5%;
	border-style: groove;
	border-width: 5px;
	border-color: orange;
	opacity: 0.8;
	transition: opacity 0.5s cubic-bezier(1, -0.44, 1, 1);
}
.wrap {
	position: absolute;
	left: 8%;
}
#chat {
	position: fixed;
	right: 69px;
	bottom: 30px;
}
#chat img {
	width: 50px;
}