@keyframes title {
	0%  {background-color: #EF7126; color: #F9E559;}
    25%  {background-color: #6F3662; color: #FFFFFF;}
    50%  {background-color: #9F6164; color: #F8DEBD;}
    75%  {background-color: #44B3C2; color: #FFFFFF;}
    100% {background-color: #218C8D; color: #F9E559;}
}

h1 {
	margin: 20px 0 20px 0;
	font-size: 3em;
	line-height: 1.5em;
	font-family: Georgia;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #8E0B00;
	text-align: center;
	animation: title 10s ease infinite;
}

.container {
	width: 100%;
	position: relative;
}
@keyframes loading {
	0% {
		
	}
	100% {
		transform: rotate(360deg);
	}
}
#top img {
	position: absolute;
	top: 100px;
    left: 550px;
    animation: loading 5s ease infinite;
}
#back img {
	clear: both;
	position: relative;
	display: block;
	width: 800px;
	margin: 0 auto;
	height: auto;
}
h2 {
	position: absolute;
	top: 380px;
    left: 630px;
    background-color: white;
    width: 120px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    border: 2px white;
    border-radius: 20%;
    animation: textloading 0.25s ease infinite;
}
@keyframes textloading{
	100% {
		color: red;
	}
}
p {
	display: block;
	font-size: 30px;
	position: absolute;
	top: 590px;
	right: 20px;
	padding-bottom: 50px;
	animation: author 3s linear infinite;
}
@keyframes author {
	0% {color: white}
	25% {right: 40px; color: black}
	50% {right: 40px; color: brown;}
	100% {right: 400px; color: white;}

}